/* 전체적인 세팅부터 */
*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
}

.container{
  border: 2px solid black;
  height: 100%;
  margin: 20px;
  background-color: pink;
}

/* 스크린 크기 조정 */
.chat-screen{
  height: calc(100% - 120px);
}

/* 유저 정보 표시되는 부분 */
.user{
  border: 2px solid black;
  background-color: pink;
  padding: 16px;
  height: 80px;
}

.user__column{
  float: left;
}

.user__pic{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.user__nick, .user__count{
  margin: 5px;
  color: green !important;
}

.user__nick .gender {
  display: none;
}

/* 채팅 표시 부분 */
.user__count{
  font-size: 12px;
  color: gray;
}

.chat-screen {
  height: 100vh; /* 화면 전체 높이 */
  display: flex;
  flex-direction: column;
}

.chat-screen__bar {
  position: sticky; /* 또는 fixed */
  top: 0;
  background-color: white; /* 배경색 필수 */
  z-index: 10;
  /* 섹션 스타일링 */
}

.chat-screen__content {
  flex: 1;
  overflow-y: auto; /* 세로 스크롤 */
  padding: 20px;
}

/* 채팅 입력창 */
.chat-form{
  height: 120px;
  background-color: #FFFFFF;
}

.cat-form__field{
  height: 120px;
}

.chat-form__msg{
  float: left;
  width: calc(100% - 120px);
  height: 120px;
  border: 2px solid black;
  resize: none;
  font-size: 24px;
  padding: 10px;
  color:rgb(66, 141, 141);
  background-color: rgba(255, 255, 0, 0.506);
}

.chat-form__bt{
  float: right;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: pink;
  font-size: 18px;
}

.chat-form__msg:focus{
  outline: none;
}

.chat-form__bt:active{
  background-color: rgb(116, 88, 93);
}